{% from 'macros/post.html' import render_post with context %}
{% extends 'main.html' %}
{% block style %}
{{ super() }}
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <link rel="stylesheet" href="{{ url_for('main.static', filename='css/swiper.css') }}">
{% endblock style %}
{% block main %}        
<div class="container is-max-widescreen">
        <div class="columns">
                <div class="column is-three-quarters">
                        {% for post in posts %}
                        {{ render_post(post) }}
                        {% endfor %}
                </div>
                <div class="column is-one-quarter">
                        <div class="box" style="position: fixed;">
                                <div class="columns">
                                        <div class="column is-one-third">
                                                <figure class="image is-64x64 py-2">
                                                        <image class="is-rounded" src="{{ url_for('user.static', filename='images/'+current_user.avatar) }}">
                                                </figure>
                                        </div>
                                        <div class="column">
                                                <h1 class="title mx-2">{{ current_user.username }}</h1>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
{% endblock main %}
{% block script %}
{{ super() }}
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="{{ url_for('main.static', filename='js/swiper.js') }}"></script>
        <script src="{{ url_for('main.static', filename='js/script.js') }}"></script>
{% endblock script %}
